<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script defer src="/app.js"></script>
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %> <% if (books.length > 0) { %>
    <ul>
      <% books.forEach(book => { %>
      <li>
        <h2><%= book.id %></h2>
        <h2><%= book.title %></h2>
        <h3><%= book.author %></h3>
        <form action="/edit-product" method="post">
          <input type="hidden" value="<%= book.id %>" name="bookId" />
          <button class="btn" type="submit">Edit</button>
        </form>
        <form action="/" method="POST">
          <input type="hidden" value="<%= book.id %>" name="bookId" />
          <button class="btn" type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else{ %>
    <h1>No Books!</h1>
    <% } %>
  </body>
</html>
